.project-card {
    width: 350px;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
  }
  
  .project-card-hovered {
    transform: scale(1.05); /* Increase the scale to make the card bigger */
  }
  