.project-card {
  width: 350px;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s !important;
}

.project-card:hover {
  transform: translateY(-0.5rem) scale(1.03);
}
