.task-card {
  width: 350px;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.task-card-hovered {
  background-color: #EDEEF8 !important;
  cursor: pointer;
}
